<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="ad_fc_total/template">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinycolor/1.4.2/tinycolor.min.js"></script>

<style>
head{
	margin-right: 50px;
}
.wrapperMain>div{
	float:left;
	
}



.color-box {
     background-color: rgb(0, 0, 0);
     width: 10px;
     height: 10px;
     display: inline-block;
     margin: 5px;
}

.moditextbox {
     margin-left: 5px;
}


</style>
<script>
document.addEventListener('DOMContentLoaded', () => {
    const colorInput = document.querySelector('#colorNameInput');
    const registerButton = document.querySelector('#registerButton');
    const colorsWrapper = document.querySelector('#colors');
    
    function addButtonClickListener(button) {
        button.addEventListener("click", function () {
            var colorBox = button.nextElementSibling;
            var colorText = button.previousElementSibling;
    
            button.remove();
            colorBox.remove();
            colorText.remove();
        });
    }

    var existingDeleteButtons = document.querySelectorAll(".delete-btn");
    existingDeleteButtons.forEach(addButtonClickListener);

    registerButton.addEventListener('click', () => {
        const colorName = colorInput.value.trim();
        if (colorName) {
            const color = tinycolor(colorName);
            
            if (color.isValid()) {
                const colorText = document.createElement('span');
                colorText.textContent = colorName;
                colorText.className = 'color-text';

                const deleteButton = document.createElement('button');
                deleteButton.textContent = 'X';
                deleteButton.className = 'delete-btn';
                addButtonClickListener(deleteButton);

                const colorBox = document.createElement('div');
                colorBox.className = 'color-box';
                colorBox.style.backgroundColor = color.toHexString();

                colorsWrapper.appendChild(colorText);
                colorsWrapper.appendChild(deleteButton);
                colorsWrapper.appendChild(colorBox);
            }
        }
    });
});

document.addEventListener("DOMContentLoaded", function() {
    var colorContainer = document.getElementById("colorContainer");
    var registerButton = document.getElementById("registerButton");

    registerButton.addEventListener("click", function() {
      var colorInput = document.getElementById("colorInput");
      var colorNameInput = document.getElementById("colorNameInput");

      var color = colorInput.value.trim();
      var colorNames = colorNameInput.value.trim().split(",");

      $("#color_list_jquery").append('<input type="hidden" id="' + color.replaceAll('#','') + '" name="color[]" value="' + color + '">');
      for (var i = 0; i < colorNames.length; i++) {
        $("#color_list_jquery").append('<input type="hidden" id="' + color.replaceAll('#','') + '_' + i + '" name="colorName[]" value="' + colorNames[i] + '">');
      }

      if (color) {
        var colorBox = document.createElement("div");
        colorBox.style.backgroundColor = color;
        colorBox.style.width = "10px";
        colorBox.style.height = "10px";
        colorBox.style.display = "inline-block";
        colorBox.style.margin = "5px";

        for (var i = 0; i < colorNames.length; i++) {
          var colorText = document.createElement("span");
          colorText.innerText = colorNames[i];
          colorText.style.marginLeft = "5px";

          var deleteButton = document.createElement("button");
          deleteButton.innerText = "X";
          deleteButton.addEventListener("click", function() {
            $("#" + color.replaceAll('#','')).remove();
            colorContainer.removeChild(colorBox);
            colorContainer.removeChild(colorText);
            colorContainer.removeChild(deleteButton);
          });
          colorContainer.appendChild(colorBox);
          colorContainer.appendChild(colorText);
          colorContainer.appendChild(deleteButton);
        }
        
        colorContainer.appendChild(colorBox);
      }
    });
  });


function fileDelete(file){
 if(confirm("파일을 삭제하시겠습니까?")){
  frm.action="../FileDelete/"+file
  frm.submit()
 }
}
</script>
<div class="wrapperMain">

	<div class="top">
		<th:block layout:fragment="title">
		<head th:replace="ad_fc_parts/top"></head>
			<title>상품 수정</title>
		</th:block>
	</div>
	
	<table border="">
		<tr>
			<td style="width:300px" align="center"><a href="/ad_page/product/list">상품목록</a></td>
			<td style="width:300px" align="center"><a href="/ad_page/product/add">상품등록</a></td>
			<td style="width:300px" align="center"><a href="/ad_page/product/inventory">재고관리</a></td>
		</tr>
	</table>
	<h2>상품 수정</h2>
	<form action="" name="frm" enctype="multipart/form-data" method="post" th:object="${productDTO}">
	<table border="">
		<tr>
			<td>진열상태</td>
			<td>
				<select th:field="*{kind}">
					<option th:value="진열함">진열함</option>
					<option th:value="진열안함">진열안함</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>상품분류</td>
			<td>
				<select th:field="*{proKind}">
					<option th:value="OUTWEAR">OUTWEAR</option>
					<option th:value="TOP">TOP</option>
					<option th:value="BOTTOM">BOTTOM</option>
					<option th:value="SHOES">SHOES</option>
				</select>
			</td>
		</tr>
		<tr th:each="dto : ${mainData}">
		<tr>
			<td>상품명</td>
			<td><input type="text" th:field="*{proName}"/></td>
		</tr>
		<tr>
			<td>상품설명</td>
			<td><textarea th:field="*{proDetail}" cols="30" rows="10"></textarea></td>
		</tr>
		<tr>
			<td>상품 이미지</td>
			<td>
				<div th:if="${productDTO.pf1} != null and ${productDTO.pf1} != ''">
				    <input type="text" id="pf1Value" th:field="${productDTO.pf1}" readonly/>
				    <button onclick="fileDelete('pf1')">x</button>
				</div>
				<div th:unless="${productDTO.pf1} != null and ${productDTO.pf1} != ''">
				    <input type="file" th:field="${productDTO.pf1Str}"/>
				</div>
				
				<div th:if="${productDTO.pf2} != null and ${productDTO.pf2} != ''">
				    <input type="text" id="pf2Value" th:field="${productDTO.pf2}" readonly/>
				    <button onclick="fileDelete('pf2')">x</button>
				</div>
				<div th:unless="${productDTO.pf2} != null and ${productDTO.pf2} != ''">
				    <input type="file" th:field="${productDTO.pf2Str}"/>
				    
				</div><div th:if="${productDTO.pf3} != null and ${productDTO.pf3} != ''">
				    <input type="text" id="pf3Value" th:field="${productDTO.pf3}" readonly/>
				    <button onclick="fileDelete('pf3')">x</button>
				</div>
				<div th:unless="${productDTO.pf3} != null and ${productDTO.pf3} != ''">
				    <input type="file" th:field="${productDTO.pf3Str}"/>
				</div>
			</td>
		</tr>
		<tr>
			<td>사이즈</td>
			<td>
				<select th:field="*{proSize}">
					<option value="s">S</option>
					<option value="m">M</option>
					<option value="l">L</option>
					<option value="xl">XL</option>
				</select>
			</td>
		<div id="color_list_jquery">
            
          		</div>				 
          		  <tr>
	      <td>색상</td>
	      <td>
	         <div>
	         <div id="colors"> </div>
	         
			     <input type="color" id="colorInput">
			     <input type="text" id="colorNameInput" />
			     
			     <button type="button" id="registerButton">색상 등록</button>
			     <div id="colorContainer">
			     	  
			     	  <th:block th:each="color : ${colors}">
						    <span class="color-text" th:text="${color.value}" ></span>
						    <button class="delete-btn">X</button>
						    <div class="color-box" th:style="'background-color:' + ${color.key}" ></div>
						</th:block>

			     	  
			     	  
			     </div>
			 </div>
	      </td>
	    </tr>	
		<tr>
			<td>재고 수량</td>
			<td><input type="text" th:field="*{proCnt}"/></td>
		</tr>
		<tr>
			<td>공급 가격</td>
			<td><input type="text" th:field="*{supplyPrice}"/> KRW</td>
		</tr>
		<tr>
			<td>판매 가격</td>
			<td><input type="text" th:field="*{sellPrice}"/> KRW</td>
		</tr>
		<tr>
			<td>구매제한</td>
			<td>
				<div th:each="ss : *{select}">
				<label><input type="radio" name="sel" th:value="${ss}" th:checked="${ss} == *{sel}" th:text="${ss}"/></label>
				</div>
			</td>
		</tr>
		<tr>
			<td>적립금</td>
			<td><input type="text" th:field="*{memPoint}"/></td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit" value="수정완료"/></td>
		</tr>
	</table>
	</form>
</div>
</html>
