<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="fc_total/template">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<th:block layout:fragment="title">
<head th:replace="fc_parts/btstop">

</head>
<title>reviewModify</title>

</th:block>

<th:block layout:fragment="content">
<style>
.center{
   margin: 55px;
}

.title {
  font-weight: bold;
  margin:45px;
}

.title > td {
  margin-top: 25px;
}

table {
  margin: 0 auto;
  text-align: center;
  align-items: center; /* 왼쪽과 오른쪽을 자동으로 맞춤 */
  margin-top: 25px;
}

#btnb{
width:40px;
height:40px;
}


span>a{
	color:black;
	text-decoration:none;
}

.btn{
	margin:5px;
}
</style>

<script type="text/javascript"></script>

<script>
function fileDelete(file){
 if(confirm("파일을 삭제하시겠습니까?")){
  frm.action="../FileDelete/"+file;
  frm.submit()
 }
}

function reviewChk(){
	

	var upfileValue = document.getElementById("upfileValue1") ? document.getElementById("upfileValue1").value : "";
	var upfile1Value = document.getElementById("upfileValue2") ? document.getElementById("upfileValue2").value : "";
	var upfile2Value = document.getElementById("upfileValue3") ? document.getElementById("upfileValue3").value : "";

	var ff1 = document.getElementById("ff1") ? document.getElementById("ff1").files.length : 0;
	var ff2 = document.getElementById("ff2") ? document.getElementById("ff2").files.length : 0;
	var ff3 = document.getElementById("ff3") ? document.getElementById("ff3").files.length : 0;

	if (ff1 == 0 && ff2 == 0 && ff3 == 0 && upfileValue == "" && upfile1Value == "" && upfile2Value == "") {	
		alert("사진은 한 장 이상 업로드해주세요.");
		return;
	}
	
	
	var imageTypeRegex = /\.(png|jpg|jpeg|gif)$/;

	if (ff1 > 0 && !imageTypeRegex.test(document.getElementById("ff1").value) ||
	    ff2 > 0 && !imageTypeRegex.test(document.getElementById("ff2").value) ||
	    ff3 > 0 && !imageTypeRegex.test(document.getElementById("ff3").value)) {
	    alert("이미지 파일만 가능합니다.");
	    return;
	}

	if(frm.title.value.trim() == "" || frm.title.value == null){		
		alert("제목을 입력해 주세요.")
		return
	}
	if(frm.content.value.trim() == "" || frm.content.value == null){
		alert("내용을 입력해 주세요.")
		return
	}
	
	frm.submit()
}
</script>

<h2 align="center" class="title">리뷰 수정하기</h2>
<form action="" method="post" th:object="${reviewDTO}" name="frm" enctype="multipart/form-data">
	<table style="width:60%" class="table">
	
			<tr>
			<th class="table-secondary"  style="vertical-align: middle; width:20%">제목</th>
			<td colspan="3" ><input type="text" th:field="*{title}" required class="form-control" placeholder="제목을 입력해주세요" /></td>
		</tr>
				
			<td><input type="hidden" th:field="*{id}"/></td>
			<td><input type="hidden" th:field="*{no}"/></td>
		
		<tr>
			<th class="table-secondary" style="vertical-align: middle;">리뷰</th>
			<td colspan="3" ><textarea th:field="*{content}"class="form-control" rows="10" required placeholder="리뷰를 입력해주세요"></textarea></td>
		</tr>
				
		
		  
		   <tr>
				<th rowspan="3" class="table-secondary" style="vertical-align: middle;">상품 이미지</th>
			
				<td  th:if="${reviewDTO.upfile} != null and ${reviewDTO.upfile} != ''">
			    <input class="input-group-text btn"  type="text" id="upfileValue1" th:field="${reviewDTO.upfile}" readonly/>
			    <button  onclick="fileDelete('upfile') "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
</svg></button>
			</td>
				<td th:unless="${reviewDTO.upfile} != null and ${reviewDTO.upfile} != ''">
				    <input class="form-control" type="file" th:field="${reviewDTO.ff1}"/>
				</td>
			</tr>
				
			 <tr>
				<td th:if="${reviewDTO.upfile1} != null and ${reviewDTO.upfile1} != ''">
				    <input class="input-group-text btn" type="text" id="upfileValue2" th:field="${reviewDTO.upfile1}" readonly/>
				    <button  onclick="fileDelete('upfile1')"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
</svg></button>
				</td>
				<td th:unless="${reviewDTO.upfile1} != null and ${reviewDTO.upfile1} != ''">
				    <input class="form-control" type="file" th:field="${reviewDTO.ff2}"/></td>
				    
				</tr>
				
				<tr>
				<td th:if="${reviewDTO.upfile2} != null and ${reviewDTO.upfile2} != ''">
				    <input class="input-group-text btn" type="text" id="upfileValue3" th:field="${reviewDTO.upfile2}" readonly/>
				    <button   onclick="fileDelete('upfile2')"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
</svg></button>
				</td>
				<td th:unless="${reviewDTO.upfile2} != null and ${reviewDTO.upfile2} != ''">
				    <input class="form-control" type="file" th:field="${reviewDTO.ff3}"/>
				</td>
				</tr>
		
		
		

		<tr>
			<td colspan="2"><input type="button" class="btn btn-dark" onclick="reviewChk()" value="제출"/><a class="btn btn-dark" th:href="@{|/myPage/myreview|}" th:text="뒤로"></a></td>
		</tr>
		
		
		
		
		
	</table>
</form>

</th:block>



<th:block layout:fragment="bts-foot">
<body th:replace="fc_parts/btsfoot::bts-foot"></body>
</th:block>
</html>