<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="ad_fc_total/template">

<style>
head{
	margin-right: 50px;
}
.context{
	float: left;
}
</style>
<div>
	<div class="context" id="top">
		<th:block layout:fragment="title">
		<head th:replace="ad_fc_parts/top"></head>
			<title>매출</title>
		</th:block>
	</div>
	<div class="context" id="mid">
		<th:block layout:fragment="content">
			<h2>매출내역</h2>
			<table border="">
				<tr>
					<td colspan="13" align="center">매출 정보 검색</td>
				</tr>
				<form action="" th:object="${calculateDTO}">
					<tr>
						<td colspan="1" align="center">매출종류</td>
						<td colspan="12" align="center">
							<label><input type="radio" name="cal_kind" th:value="지출" />지출</label>
							<label><input type="radio" name="cal_kind" th:value="수입" />수입</label>
						</td>
					</tr>
					<tr>
						<td colspan="1" align="center">상품 카테고리</td>
						<td colspan="12" align="center">
							<label><input type="radio" name="cal_cate" th:value="아우터" />아우터</label>
							<label><input type="radio" name="cal_cate" th:value="상의" />상의</label>
							<label><input type="radio" name="cal_cate" th:value="하의" />하의</label>
							<label><input type="radio" name="cal_cate" th:value="신발" />신발</label>
						</td>
					</tr>
					<tr>
						<td colspan="1" align="center">상품명</td>
						<td colspan="12" align="center">
							<input type="text" name="sch" />
						</td>
					</tr>
					<tr>
						<td colspan="1" align="center">환불여부</td>
						<td colspan="12" align="center">
							<label><input type="radio" name="cal_refund" th:value="1" />O</label>
							<label><input type="radio" name="cal_refund" th:value="0" />X</label>
						</td>
					</tr>
					<tr>
						<td colspan="1" rowspan="2" align="center">매출 날짜</td>
						<td colspan="1" align="center">시작일</td>
						<td colspan="11" align="center">
							<input type="date" th:max="${today}" name="beforeDate" /> 
						</td>
					</tr>
					<tr colspan="1" align="center">
						<td>종료일</td>
						<td colspan="11" align="center">
							<input type="date" th:max="${today}" name="afterDate" />
						</td>
					</tr>
					<tr>
						<td colspan="13" align="center">
							<input type="submit" value="검색" />
						</td>
					</tr>
				</form>
				<tr>
					<td>매출번호</td>
					<td>수입/지출</td>
					<td>상품카테고리</td>
					<td>상품명</td>
					<td>사이즈</td>
					<td>색상</td>
					<td>공급가</td>
					<td>판매가</td>
					<td>판매/구매 수량</td>
					<td>정산금액</td>
					<td>정산날짜</td>
					<td>환불여부</td>
					<td>환불내용</td>
				</tr>
				
				<tr th:each="dto, dtoStat : ${mainData}">
					<td th:text="${dto.cal_code}"></td>
					<td th:text="${dto.cal_kind}"></td>
					<td th:text="${dto.cal_cate}"></td>
					<td th:text="${dto.cal_name}"></td>
					<td th:text="${dto.cal_size}"></td>
					<td th:text="${dto.cal_color}"></td>
					<td th:text="${dto.cal_oriPri}"></td>
					<td th:text="${dto.cal_celPri}"></td>
					<td th:text="${dto.cal_cnt}"></td>
					<td th:text="${dto.cal_celPri*dto.cal_cnt-dto.cal_oriPri*dto.cal_cnt}" align="right"></td>
					<td th:text="${dto.cal_date}"></td>
					<td th:text="${dto.refundStr}"></td>
					<td th:text="${dto.cal_retext}"></td>
				</tr>
				<tr>
					<td colspan="4" align="center" th:text="|총 수입|"></td>
					<td colspan="4" align="center" th:text="|총 지출|"></td>
					<td colspan="5" align="center" th:text="|합 계|"></td>
				</tr>
				<tr>
					<td colspan="4" align="center" th:text="${celTot}"></td>
					<td colspan="4" align="center" th:text="${oriTot*-1}"></td>
					<td colspan="5" align="center" th:text="${celTot-oriTot}"></td>
				</tr>
			</table>
		</th:block>
		<th:block layout:fragment="add-content">
			
		</th:block>
	</div>
</div>
</html>