<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="fc_total/template">

<th:block layout:fragment="title">
<head th:replace="fc_parts/top">

</head>
<title>d</title>

</th:block>

<th:block layout:fragment="content">
<h1>modifyForm</h1>
<form method="post" enctype="multipart/form-data" th:object="${mainData}" >
	<table border="">
	
		<tr>
			<td>제목</td>
			<td><input type="text" th:field="*{title}"/></td>
		</tr>
		
		<tr>
			<td>작성자</td>
			<td><input type="text" th:field="*{id}" readonly/></td>
		</tr>
		<tr>
			<td>내용</td>
			<td><input type="text" th:field="*{content}"/></td>				
		</tr>
		
		<tr>
			<td>파일1</td>
			<td><input type="file"  multiple="multiple" th:value="*{ff1}"   th:field="*{ff1}" /></td>				
		</tr>
		<tr>
			<td>파일2</td>
			<td><input type="file"  multiple="multiple" th:field="*{ff2}"/></td>				
		</tr>
		<tr>
			<td>파일3</td>
			<td><input type="file"  multiple="multiple" th:field="*{ff3}"/></td>				
		</tr>
		

		<tr>
			<td colspan="2"><input type="submit" value="제출"/></td>
		</tr>
		
		<tr>
		<td colspan="2"><a th:href="@{|/center/reviewDetail/*{no}/${pd.nowPage}|}" th:text="뒤로"></a></td>
		</tr>
		
	</table>
</form>

</th:block>


<th:block layout:fragment="add-content">
	<h3>내용</h3>
</th:block>
<th:block layout:fragment="main-foot">
<body th:replace="fc_parts/footer::main-foot"></body>
</th:block>
</html>