<!DOCTYPE html>
<html>
<th:block layout:fragment="title">
<head th:replace="fc_parts/top"></head>


	<title>주문조회</title>
</th:block>

<th:block layout:fragment="content">

<button >환불하기</button>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script>
  function cancelPay(uid) {
    jQuery.ajax({
      // 예: http://www.myservice.com/payments/cancel
      "url": imp35316716, 
      "type": "POST",
      "contentType": "application/json",
      "data": JSON.stringify({
        "merchant_uid": uid,
        "cancel_request_amount": 10, // 환불금액
        "reason": "테스트 결제 환불" // 환불사유
      }),
      "dataType": "json"
    });
  }
  
  function orderState(uid){
 	  alert("버튼클릭: "+uid+' 배송상태: '+$("#shipping"+uid).val())
	  location.href="/fc_mem/orderModify?uid="+uid+
			  "&order_shipping="+$("#shipping"+uid).val()
  }
</script>
<style>
	.history_wrapper{
		width:1200px;
		height:auto;
		margin:auto;
	}
	.history_cate{
		float:left;
		width:150px;
		height:30px;
	}
</style>

<div class="history_wrapper">
	<div>
		<div th:text="주문번호" class="history_cate"></div>
		<div th:text="구매수량" class="history_cate"></div>
		<div th:text="결제금액" class="history_cate"></div>
		<div th:text="구매날짜" class="history_cate"></div>
		<div th:text="배송상태" class="history_cate"></div>
		<div th:text="사이즈" class="history_cate"></div>
		<div th:text="색상" class="history_cate"></div>
		<div th:text="수령주소" class="history_cate"></div>
	</div>
	<hr/>
	<div th:each="dto : ${mainData}">
		<input type="hidden" th:value="${dto.order_shipping}" th:id="shipping+${dto.uid}"/>
		<div th:text="${dto.order_no}" class="history_cate"></div>
		<div th:text="${dto.order_cnt}" class="history_cate"></div>
		<div th:text="${dto.order_price}" class="history_cate"></div>
		<div th:text="${dto.order_date}" class="history_cate"></div>
		<div th:text="${dto.order_shipping}" class="history_cate"></div>
		<div th:text="${dto.order_size}" class="history_cate"></div>
		<div th:text="${dto.order_color}" class="history_cate"></div>
		<div th:text="${dto.order_place}" class="history_cate"></div>
		<span th:if="${dto.order_shipping}==결제완료 or ${dto.order_shipping}==배송준비중">
		<input type="button" value="주문취소(환불요청)" th:onclick="orderState([[${dto.uid}]])"/>
		</span>
		<hr/>
	</div>
</div>

</th:block>

<th:block layout:frgment="main-foot">
<body th:replace="fc_parts/footer::main-foot"></body>
</th:block>
</html>