<!DOCTYPE html>
<html>
<th:block layout:fragment="title">
<head th:replace="fc_parts/top"></head>


	<title>주문조회</title>
</th:block>

<th:block layout:fragment="content">
<style>
	.history_wrapper{
		width:1200px;
		height:500px;
		margin:auto;
		background:#ff0;
	}
	.history_cate{
		float:left;
		width:150px;
		height:30px;
	}
</style>

<div class="history_wrapper">
	<div>
		<div th:text="주문번호" class="history_cate"></div>
		<div th:text="구매수량" class="history_cate"></div>
		<div th:text="결제금액" class="history_cate"></div>
		<div th:text="구매날짜" class="history_cate"></div>
		<div th:text="배송상태" class="history_cate"></div>
		<div th:text="사이즈" class="history_cate"></div>
		<div th:text="색상" class="history_cate"></div>
		<div th:text="수령주소" class="history_cate"></div>
	</div>
	<hr/>
	<div th:each="dto : ${mainData}">
		<div th:text="${dto.order_no}" class="history_cate"></div>
		<div th:text="${dto.order_price}" class="history_cate"></div>
		<div th:text="${dto.order_cnt}" class="history_cate"></div>
		<div th:text="${dto.order_date}" class="history_cate"></div>
		<div th:text="${dto.order_shipping}" class="history_cate"></div>
		<div th:text="${dto.order_size}" class="history_cate"></div>
		<div th:text="${dto.order_color}" class="history_cate"></div>
		<div th:text="${dto.order_place}" class="history_cate"></div>
		<hr/>
	</div>
</div>
</th:block>

<th:block layout:frgment="main-foot">
<body th:replace="fc_parts/footer::main-foot"></body>
</th:block>
</html>