<!DOCTYPE html>
<html>
<th:block layout:fragment="title">
<head th:replace="fc_parts/top"></head>
	<title>비밀번호확인</title>
</th:block>

<th:block layout:fragment="content">
<style>
	*{
		margin:0;
		padding:0;
	}
	.pw_wrapper{
		width:1200px;
		margin:auto;
		padding-left:500px;
	}
</style>
<form action="/fc_mem/modifyGo">
<div class="pw_wrapper"><br/><br/><br/><br/>
	<input type="password" name="pw" placeholder="비밀번호" style="width:245px; height:40px;"/><br/><br/>
	<input type="submit" value="비밀번호확인" style="width:250px; height:50px; color:#fff; background:#424242; border:0px;"/>
</div>
<br/><br/><br/><br/>
</form>
</th:block>


<th:block layout:fragment="main-foot">
<body th:replace="fc_parts/footer::main-foot"></body>
</th:block>
</html>