<!DOCTYPE html>
<html>
<th:block layout:fragment="title">
<head th:replace="fc_parts/top"></head>
	<title>회원정보수정</title>
</th:block>

<th:block layout:fragment="content">
<style>
	*{
		margin:0;
		padding:0;
	}
	.myPage_wrapper{
		width:1200px;
		margin:auto;
	}
	.myPage_cate{
	width:150px;
		float:left;
	}
	.myPage_cate_wrapper{
		width:1200px;
		height:50px;
	}
</style>
<form method="post">
<input type="text" th:value="${mainData.id}" readonly name="id"/>
<input type="text" th:value="${mainData.address1}" name="address1"/>
<input type="text" th:value="${mainData.address2}" name="address2"/>
<input type="text" th:value="${mainData.address3}" name="address3"/>
<input type="submit" value="수정하기"/>
</form>
</th:block>


<th:block layout:fragment="main-foot">
<body th:replace="fc_parts/footer::main-foot"></body>
</th:block>
</html>