<!DOCTYPE html>
<html>

<th:block layout:fragment="title">
<head th:replace="fc_parts/top"></head>


	<title>장바구니</title>
</th:block>

<th:block layout:fragment="content">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>

<script>

function basketDelete(ppp){
	location.href="/fc_mem/basketDelete?pno="+ppp
}

function basketModify(pno){
	
	//alert(pno+$("#address_"+pno).val()+$("#cnt_"+pno).val()+$("#size_"+pno).val()+$("#address_"+pno).val())
 	location.href="/fc_mem/basketModify?"+
			"pno="+pno+
			"&cnt="+$("#cnt_"+pno).val()+
			"&size="+$("#size_"+pno).val()+
			"&address="+$("#address_"+pno).val()+
			"&price="+$("#price_"+pno).val()
}

var IMP = window.IMP;
IMP.init('imp35316716');



function Pay() {
	
	const checkboxes = document.querySelectorAll('input[type="checkbox"]');
    let isChecked = false;

    // 체크박스가 하나라도 선택되어 있는지 확인
    for (let i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i].checked) {
            isChecked = true;
            break;
        }
    }

    // 체크가 되어 있지 않으면 폼 제출 방지
    if (!isChecked) {
        event.preventDefault();
        alert("선택된 상품이 없습니다. 상품을 선택해주세요.");
    }else{
	
  // iamport 대신 자신의 "가맹점 식별코드"를 사용
  IMP.request_pay({
    pg: "html5_inicis",
    pay_method: "card",
    merchant_uid: new Date().getTime(),
    name: '결제테스트',
    amount: 10, // $("#hidden_price").val() * $("#sell_cnt").val(),
    buyer_email: 'hgh4400@naver.com',
    buyer_name: '구매자',
    buyer_tel: '010-1234-5678',
    buyer_addr: '서울특별시 강남구 삼성동',
    buyer_postcode: '123-456'
  },

    function (rsp) { 
		 if (rsp.success) {
        var merchantUid = rsp.merchant_uid; // 결제 성공 시 merchant_uid 값 가져오기

        var form = document.forms['frm'];
        
        form.setAttribute('method', 'post');
        form.setAttribute('action', '/fc_mem/listGoOrder');
        var inputMerchantUid = document.createElement('input');
        inputMerchantUid.setAttribute('type', 'hidden');
        inputMerchantUid.setAttribute('name', 'uid');
        inputMerchantUid.setAttribute('value', merchantUid);

        form.appendChild(inputMerchantUid);

        form.submit();
      }else {
        var msg = '결제에 실패하였습니다.';
        msg += '에러내용 : ' + rsp.error_msg;
        alert(msg);
      }
    });
    }
}


  function basketGo() {
    //alert("시작?");

    $.ajax({
    	  url: "/ajax/addBasket",
    	  method: "POST",
    	  data: {
    	    cnt: $("#sell_cnt").val(),
    	    price: $("#hidden_price").val(),
    	    num: $("#hidden_num").val(),
    	    proName : $("#hidden_name").val(),
    	    color : $("#pro_color").val(),
    	    size : $("#pro_size").val()
    	  },
    	  success: function(ddd) { // 성공시
    	    alert("장바구니에 추가되었습니다.");
    	  },
    	  error: function(ee) { // 실패시
    	    alert("실패하였습니다.");
    	  }
    	});
  }


</script>
<style>
	*{
		margin: 0;
		padding: 0;
	}
	.proBasket_wrapper{
		width:1200px;
		margin:auto;
	}
	.basket_cate{
		width:150px;
		height:50px;
		float:left;
		margin-left:20px;
	}
	.addr{
		width:200px;
	}
	.basket_cate_wrapper1{
		display: block;
		width:1200px;
		height:50px;
		background:#404040;
		color:#fff;
		line-height:50px;
		text-align: center;
	}
	.basket_cate_wrapper2{
		display: block;
		width:1200px;
		height:50px;
		line-height:50px;
		text-align: center;
	}
	.basket_cate_wrapper2:nth-child(even){
		background:#f2f2f2;
	}
	.cnt{
		width:50px;
	}
	.myPageBasketNull{
		width:1200px;
		height:200px;
		line-height: 200px;
		text-align: center;
		font-size:20px;
		color:#888;
		border-bottom:1px solid #888;
	}
</style>
<form action="/fc_mem/listGoOrder" name="frm">
<div class="proBasket_wrapper">
</br></br>

<h1><b>장바구니</b></h1></br></br>
<div class="basket_cate_wrapper1">
	<div th:text="상품명" class="basket_cate"></div>
	<div th:text="수량" class="basket_cate"></div>
	<div th:text="색상" class="basket_cate"></div>
	<div th:text="사이즈" class="basket_cate"></div>
	<div th:text="수령주소" class="basket_cate" style="width:200px;"></div>
	<div th:text="가격" class="basket_cate" style="width:100px;"></div>
	<div th:text="비고" class="basket_cate"></div>
</div>
	<hr/>
	<span th:if="${mainData.size()} == 0"><div class="myPageBasketNull"><b>장바구니에 담긴 상품이 없습니다.</b></div></span>
	<span th:if="${mainData.size()} > 0">
	<div th:each="dto : ${mainData}" class="basket_cate_wrapper2">
		<input type="hidden" th:value="${dto.price}" th:id="${'price_'+dto.pno}"/>
		<input type="checkbox" name="pno" th:value="${dto.pno}"/>
		<div th:text="${dto.proName}" class="basket_cate"></div>
		<div  class="basket_cate">
			<input type="number" th:value="${dto.cnt}" th:id="${'cnt_'+dto.pno}" class="cnt"/>
		</div>
		
		<div class="basket_cate" th:text="${dto.color}">
		<input type="text" th:value="${dto.color}" th:id="${'color_'+dto.pno}" readonly/></div>
		
			<div class="basket_cate">
				<select th:id="${'size_'+dto.pno}" >
				<span th:if="${dto.size}==S">
					<option value="S">S</option>
					<option value="M">M</option>
					<option value="L">L</option>
					<option value="XL">XL</option>
				</span>
				
				<span th:if="${dto.size}==M">
					<option value="M">M</option>
					<option value="S">S</option>
					<option value="L">L</option>
					<option value="XL">XL</option>
				</span>
				
				<span th:if="${dto.size}==L">
					<option value="S">L</option>
					<option value="S">S</option>
					<option value="M">M</option>
					<option value="XL">XL</option>
				</span>
				
				<span th:if="${dto.size}==XL">
					<option value="XL">XL</option>
					<option value="S">S</option>
					<option value="M">M</option>
					<option value="L">L</option>
				</span>
				</select>
			</div>
		
		
		<div class="basket_cate">
		<input type="text" th:value="${dto.address}" th:id="${'address_'+dto.pno}" class="addr"/></div>
		<div th:text="${dto.totalPrice}" class="basket_cate" style="margin-left:45px;"></div>
		<input type="button" th:value="수정" th:onclick="basketModify([[${dto.pno}]])" style="background:#424242; color:#fff; border:0px; width:40px;  height:25px;"/>
		<input type="button" th:value="삭제" th:onclick="basketDelete([[${dto.pno}]])" style="background:#424242; color:#fff; border:0px; width:40px;  height:25px;"/>
	</div>
	<input type="button" value="선택항목 결제하기" onclick="Pay()" style="background:#424242; color:#fff; border:0px; width:300px;  height:50px; margin-left:450px; margin-top:50px;"/>
</span>
</div>
</form>
</th:block>


<th:block layout:frgment="main-foot">
<body th:replace="fc_parts/footer::main-foot"></body>
</th:block>

</html>