<!DOCTYPE html>
<html>

<th:block layout:fragment="title">
<head th:replace="fc_parts/top"></head>


	<title>장바구니</title>
</th:block>

<th:block layout:fragment="content">

<style>
	*{
		margin: 0;
		padding: 0;
	}
	.proBasket_wrapper{
		width:1200px;
		height:550px;
		margin:auto;
		background:#f0f;
	}
	.basket_cate{
		width:150px;
		height:50px;
		float:left;
	}
	.basket_cate_wrapper{
		display: block;
		width:1200px;
		height:50px;
	}
	
</style>

<div class="proBasket_wrapper">
<div class="basket_cate_wrapper">
	<div th:text="상품명" class="basket_cate"></div>
	<div th:text="가격" class="basket_cate"></div>
	<div th:text="수량" class="basket_cate"></div>
	<div th:text="색상" class="basket_cate"></div>
	<div th:text="사이즈" class="basket_cate"></div>
</div>
	<hr/>
	<div th:each="dto : ${mainData}" class="basket_cate_wrapper">
		<div th:text="${dto.proName}" class="basket_cate"></div>
		<div th:text="${dto.totalPrice}" class="basket_cate"></div>
		<div th:text="${dto.cnt}" class="basket_cate"></div>
		<div th:text="${dto.color}" class="basket_cate"></div>
		<div th:text="${dto.size}" class="basket_cate"></div>
	</div>
</div>

</th:block>


<th:block layout:frgment="main-foot">
<body th:replace="fc_parts/footer::main-foot"></body>
</th:block>

</html>