<!DOCTYPE html>
<html>

<body>
<th:block layout:fragment="title">
<head th:replace="fc_parts/top"></head>
	<title>회원가입</title>
</th:block>

<th:block layout:fragment="content">
<style>
	*{
		margin:0;
		padding:0;
	}
	.myPage_wrapper{
		width:1200px;
		margin:auto;
	}
	.myPage_cate{
	width:150px;
		float:left;
	}
	.myPage_cate_wrapper{
		width:1200px;
		height:50px;
	}
</style>
<form action="">

<div class="myPage_wrapper">
<div class="myPage_cate_wrapper">
	<div th:text="이름" class="myPage_cate"></div>
	<div th:text="기본주소" class="myPage_cate"></div>
	<div th:text="추가주소" class="myPage_cate"></div>
	<div th:text="추가주소" class="myPage_cate"></div>
</div>

<div class="myPage_cate_wrapper">
	<div th:each="dto : ${mainData}">
		<div th:text="${dto.name}" class="myPage_cate"></div>
		<div th:text="${dto.address1}" class="myPage_cate"></div>
		<div th:text="${dto.address2}" class="myPage_cate"></div>
		<div th:text="${dto.address3}" class="myPage_cate"></div>
		<a th:href="|/fc_mem/modifyForm|">수정하기</a>
	</div>
</div>
<div class="myPage_cate_wrapper">
		<a th:href="|/myPage/myqna|">내가 작성한 qna</a>
		<a th:href="|/myPage/myreview|">내가 작성한 리뷰</a>
</div>
</div>
</form>
</th:block>

<th:block layout:fragment="main-foot">
<body th:replace="fc_parts/footer::main-foot"></body>
</th:block>
</body>
</html>
</body>
</html>