<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="fc_total/template">

<title>Admin_QnaReply</title>

<h1>Admin_QnaReply</h1>

<form method="post" th:object="${qnaDTO}">
<table border="">

 <tr>
 	<td>관리자 답변</td><td><input type="text"  th:field="*{getAnswer}" ></td>
 </tr>
  

<tr>
	<td><input type="submit" value="제출"/></td>
</tr>
		
 <tr>
 
		<td colspan="2" align="right">							 	          
			 <a th:href="@{|/ad_qnainfo/memqnaDetail/*{no}/${pd.nowPage}|}" th:text="뒤로"></a>		

		</td>
	</tr>
	
	
</table>
</form>		




</html>