<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="fc_total/template">

<th:block layout:fragment="title">
		<head th:replace="ad_fc_parts/top"></head>
			<title>qna답변</title>
		</th:block>
	<table border="" width=80%>
	<form action=""  th:object="${qnaDTO}">
	
		<tr>
			<td colspan="7" align="center">
				<select name="kind" >
				<option value="title">제목</option>
				<option value="id">아이디</option>
			   </select>
				<input type="text" th:field="*{sch}"/>				
				
			<input type="submit" value="제출"/>
	
			
		</tr>
	</form>
	
	
	<tr>
		<td>번호</td>
		<td>종류</td>
		<td>제목</td>
		<td>작성자</td>
		<td>작성일</td>
		<td>조회수</td>
		<td>답변</td>
	</tr>
	
	<tr th:each="dto , dtoStat: ${mainData}">
		<td th:text="${pd.getStart() + dtoStat.index+1}"></td>
		<td th:text="${dto.type}"/>
		
		<td>			  			 
			<a th:href="@{|memqnaDetail/${dto.no}/${pd.nowPage}|}" th:text="${dto.title}" >
			 </a> 			
		 </td>
		
		
		<td th:text="${dto.id}"/>				
		<td th:text="${dto.reg_dateStr}"/>
		<td th:text="${dto.qna_cnt}"/>
		<td th:text="답변대기중" th:if="${dto.getAnswer} == null"/></td>
		<td  th:text="답변완료" th:unless="${dto.getAnswer} == null"/></td>
	</tr>
	
	
	 
<tr>
    <td colspan="7" align="center">
        <span th:if="${pd.startPage > 1}">
            <a th:href="@{'?nowPage=' + ${pd.startPage - 1}}">◀</a>
        </span>
        <span th:each="p : ${#numbers.sequence(pd.startPage, pd.endPage)}">
            <a th:if="${pd.nowPage == p}" th:text="${p}"></a>
            <a th:unless="${pd.nowPage == p}" th:href="@{'?nowPage=' + ${p}}" th:text="${p}"></a>
        </span>
        <span th:if="${pd.endPage < pd.totalPage}">
            <a th:href="@{'?nowPage=' + ${pd.endPage + 1}}">▶</a>
        </span>
    </td>
</tr>

</table>
	

</html>