<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="fc_total/template">
<th:block layout:fragment="title">
<head th:replace="fc_parts/top"></head>


	<title>FCProj</title>
</th:block>

<th:block layout:fragment="content">

<style>
	*{
		margin: 0;
		padding: 0;
	}
	.main_wrapper{
		width:1200px;
		height:100%;
		margin:auto;
		background:#f0f;
	}
</style>
	<div class="main_wrapper"><h1>메인</h1></div>
</th:block>

<th:block layout:frgment="main-foot">
<body th:replace="fc_parts/footer::main-foot"></body>
</th:block>
</html>