<!DOCTYPE html>
<html>


<th:block layout:fragment="title">
<head th:replace="fc_parts/top"></head>


	<title>상품상세페이지</title>
</th:block>

<th:block layout:fragment="content">

<style>
	*{
		margin: 0;
		padding: 0;
	}
	.proDetail_wrapper{
		width:1200px;
		height:550px;
		margin:auto;
	}
	#pro_img{
		width:500px;
		height:550px;
	}
	.pro_color{
		width:30px;
		height:30px;
		border-radius: 25px;
		float:left;
	}
	.detail_main_wrapper{
		width:500px;
		height:550px;
		float:left;
		margin-left:50px;
	}
	.pro_img_wrapper{
		width:500px;
		height:550px;
		float: left;
		margin-left:50px;
	}
	.detail_menu{
		width:300px;
		height:50px;
		color:#444;
		display: block;
	}
	#sell_cnt{
		width:250px;
		height:30px;
	}
	#detai_baskit_button{
		color:#444;
		width:250px;
		height:60px;
	}
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>

<script>

var IMP = window.IMP;
IMP.init('imp35316716');


function Pay() {
  // iamport 대신 자신의 "가맹점 식별코드"를 사용
  IMP.request_pay({
    pg: "html5_inicis",
    pay_method: "card",
    merchant_uid: new Date().getTime(),
    name: '결제테스트',
    amount: 10, // $("#hidden_price").val() * $("#sell_cnt").val(),
    buyer_email: 'hgh4400@naver.com',
    buyer_name: '구매자',
    buyer_tel: '010-1234-5678',
    buyer_addr: '서울특별시 강남구 삼성동',
    buyer_postcode: '123-456'
  },

    function (rsp) { 
		 if (rsp.success) {
        var merchantUid = rsp.merchant_uid; // 결제 성공 시 merchant_uid 값 가져오기

        var form = document.forms['frm'];
        
        form.setAttribute('method', 'post');
        form.setAttribute('action', '/fc_mem/goOrder');
        var inputMerchantUid = document.createElement('input');
        inputMerchantUid.setAttribute('type', 'hidden');
        inputMerchantUid.setAttribute('name', 'uid');
        inputMerchantUid.setAttribute('value', merchantUid);

        form.appendChild(inputMerchantUid);

        form.submit();
      }else {
        var msg = '결제에 실패하였습니다.';
        msg += '에러내용 : ' + rsp.error_msg;
        alert(msg);
      }
    });

}


  function basketGo() {
    //alert("시작?");

    $.ajax({
    	  url: "/ajax/addBasket",
    	  method: "POST",
    	  data: {
    	    cnt: $("#sell_cnt").val(),
    	    price: $("#hidden_price").val(),
    	    num: $("#hidden_num").val(),
    	    proName : $("#hidden_name").val(),
    	    color : $("#pro_color").val(),
    	    size : $("#pro_size").val()
    	  },
    	  success: function(ddd) { // 성공시
    	    alert("장바구니에 추가되었습니다.");
    	  },
    	  error: function(ee) { // 실패시
    	    alert("실패하였습니다.");
    	  }
    	});
  }
</script>








<form name="frm">
<div class="proDetail_wrapper">
	<div class="pro_img_wrapper"><img th:src="|../../img/${mainData.proImg}|" alt="" id="pro_img"/></div>
	<div class="detail_main_wrapper">
		<div class="detail_menu" th:text="${mainData.proName}"></div>
		<div class="detail_menu">
		<select name="order_color" id="pro_color">
			<div th:each="cc : ${mainData.colorStr}">
				<option th:value="${cc}">[[${cc}]]</option>
			</div>
		</select>
		</div>
		<div class="detail_menu">
		<select name="order_size" id="pro_size">
			<option value="S">S</option>
			<option value="M">M</option>
			<option value="L">L</option>
			<option value="XL">XL</option>
		</select>
		</div>
		<div class="detail_menu" th:text="${mainData.sellPrice}"></div>
		<input type="hidden" th:value="${mainData.sellPrice}" id="hidden_price" name="order_price"/>
		<input type="hidden" th:value="${mainData.proName}" id="hidden_name" name="order_product"/>
		<input type="hidden" th:value="${mainData.num}" id="hidden_num" name="order_num"/>
		<input type="hidden" th:value="${mainData.kind}" id="hidden_kind" name="order_cate"/>
		<div class="detail_menu">
			<input type="number" id="sell_cnt" name="order_cnt"/>
		</div>
		<div class="detail_menu">
			<input type="button" id="detai_baskit_button" onclick="basketGo()" value="장바구니"/>
		</div>
		<div class="detail_menu">
			<input type="button" id="detai_baskit_button" value="구매하기" onclick="Pay()"/>
		</div>
	</div>
</div>
</form>
<body>

</th:block>

<th:block layout:frgment="main-foot">
<body th:replace="fc_parts/footer::main-foot"></body>
</th:block>

</html>