<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="ad_fc_total/template">

<style>
head{
	margin-right: 50px;
}
.context{
	float: left;
}
.Graph{
	width: 1600px;
	float: left;
}
</style>
<div>
	<div class="context">
		<th:block layout:fragment="title">
		<head th:replace="ad_fc_parts/top"></head>
			<title>주문관리</title>
		</th:block>
	</div>
	
	<div class="context">
		<th:block layout:fragment="content">
			<table border="">
				<tr>
					<td>주문목록</td>
					<td>배송관리</td>
					<td>취소·환불관리</td>
				</tr>
			</table>
			<h1>주문목록</h1>
			<h3>금일 주문 목록</h3>
			<table border="">
				<tr>
					<td>주문번호</td>
					<td>구매자ID</td>
					<td>수령인</td>
					<td>수령지</td>
					<td>상품카테고리</td>
					<td>상품명</td>
					<td>상품수량</td>
					<td>상품가격</td>
					<td>구매날짜</td>
					<td>베송여부</td>
					<td>주문상태</td>
					<td>환불날짜</td>
				</tr>
				<tr th:each="dto:${todayData}">
					<td th:text="${dto.order_no}"></td>
					<td th:text="${dto.order_ID}"></td>
					<td th:text="${dto.order_name}"></td>
					<td th:text="${dto.order_place}"></td>
					<td th:text="${dto.order_cate}"></td>
					<td th:text="${dto.order_product}"></td>
					<td th:text="${dto.order_cnt}"></td>
					<td th:text="${dto.order_price}"></td>
					<td th:text="${dto.order_dateStr}"></td>
					<td th:text="${dto.order_shipping}"></td>
					<td th:text="${dto.order_state}"></td>
					<td th:text="${dto.order_cancleDate}"></td>
				</tr>
			</table>
		</th:block>
		<th:block layout:fragment="add-content">
			
		</th:block>
	</div>
</div>
</html>