<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="ad_fc_total/template">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

<style>
head{
	margin-right: 50px;
}
.context{
	float: left;
}
.Graph{
	width: 1600px;
	float: left;
}
.sidebar{
	height: 110vh;
    background: #ccc;
    overflow-y: auto;
    float: left;

}

ul{
	padding-left: 0;


}

td{
	text-align:center;
	width:1230px;
}

.context{

    max-width: 1230px;
    font-size: 12px;
}
</style>
<div>
	<div class="context">
		<th:block layout:fragment="title">
		<head th:replace="ad_fc_parts/top"></head>
			<title>배송관리</title>
		</th:block>
	</div>
	
	<div class="context">
		<th:block layout:fragment="content">
		<!-- <script>
			function modifySh(no){
				alert("수정되었습니다.");
				location.href="shippingList/"+no;
			} lsfkau
		</script> -->

		<table border="" class="table table-striped">
			<tr>
				<td><a href="orderList">주문목록</a>
				</td>
				<td><a href="shippingList">배송관리</a>
				
				</td>
			</tr>
		</table>
		
		<h3>결제완료</h3>
			<table border="" class="table table-striped">
				<tr>
					<td>주문번호</td>
					<td>구매자ID</td>
					<td>수령인</td>
					<td>수령지</td>
					<td>상품카테고리</td>
					<td>상품명</td>
					<td>상품수량</td>
					<td>상품가격</td>
					<td>구매날짜</td>
					<td>배송상태</td>
					<td>배송상태수정</td>
				</tr>
				<tr th:each="dto:${payComplete}">
					<td th:text="${dto.order_no}"></td>
					<td th:text="${dto.order_ID}"></td>
					<td th:text="${dto.order_name}"></td>
					<td th:text="${dto.order_place}"></td>
					<td th:text="${dto.order_cate}"></td>
					<td th:text="${dto.order_product}"></td>
					<td th:text="${dto.order_cnt}"></td>
					<td th:text="${dto.order_price}"></td>
					<td th:text="${dto.order_dateStr}"></td>
					<td th:text="${dto.order_shipping}"></td>
					
				
					<td>
						<form action="" method="post" th:object="${shippingDTO}">
							<input type="hidden" th:value="${dto.uid}" name="uid"/>
							<input type="hidden" name="schNo" th:value="${dto.order_no}" />
							<select th:field="*{shippingChk}" class="form-select form-select-sm">
									<option value="결제완료">결제완료</option>
									<option value="배송준비중">배송준비중</option>

							</select>
							<input type="submit" value="수정" class="btn btn-outline-primary btn-sm"/>
						</form>
					</td>
				</tr>
			</table>
			

		
		
		
<!-- 			<h1>배송목록</h1> -->
			<h3>배송 준비중</h3>
			<table border="" class="table table-striped">
				<tr>
					<td>주문번호</td>
					<td>구매자ID</td>
					<td>수령인</td>
					<td>수령지</td>
					<td>상품카테고리</td>
					<td>상품명</td>
					<td>상품수량</td>
					<td>상품가격</td>
					<td>구매날짜</td>
					<td>배송상태</td>
					<td>배송상태수정</td>
				</tr>
				<tr th:each="dto:${beforeData}">
					<td th:text="${dto.order_no}"></td>
					<td th:text="${dto.order_ID}"></td>
					<td th:text="${dto.order_name}"></td>
					<td th:text="${dto.order_place}"></td>
					<td th:text="${dto.order_cate}"></td>
					<td th:text="${dto.order_product}"></td>
					<td th:text="${dto.order_cnt}"></td>
					<td th:text="${dto.order_price}"></td>
					<td th:text="${dto.order_dateStr}"></td>
					<td th:text="${dto.order_shipping}"></td>
					<td>
						<form action="" method="post" th:object="${shippingDTO}">
						<input type="hidden" th:value="${dto.uid}" name="uid"/>
							<input type="hidden" name="schNo" th:value="${dto.order_no}" />
							<select th:field="*{shippingChk}" class="form-select form-select-sm" aria-label=".form-select-sm example" style="font-size: 7px; width: 100px" >
									<option value="배송준비중">배송준비중</option>
									<option value="배송중">배송중</option>
									<option value="배송완료">배송완료</option>
							</select>
							<input type="submit" value="수정" class="btn btn-outline-primary btn-sm" />
						</form>
					</td>
				</tr>
			</table>
			
			<h3>배송중</h3>
			<table border="" class="table table-striped">
				<tr>
					<td>주문번호</td>
					<td>구매자ID</td>
					<td>수령인</td>
					<td>수령지</td>
					<td>상품카테고리</td>
					<td>상품명</td>
					<td>상품수량</td>
					<td>상품가격</td>
					<td>구매날짜</td>
					<td>배송상태</td>
					<td>배송상태수정</td>
				</tr>
				<tr th:each="dto:${ingData}">
				<td th:text="${dto.order_no}"></td>
					<td th:text="${dto.order_ID}"></td>
					<td th:text="${dto.order_name}"></td>
					<td th:text="${dto.order_place}"></td>
					<td th:text="${dto.order_cate}"></td>
					<td th:text="${dto.order_product}"></td>
					<td th:text="${dto.order_cnt}"></td>
					<td th:text="${dto.order_price}"></td>
					<td th:text="${dto.order_dateStr}"></td>
					<td th:text="${dto.order_shipping}"></td>
					<td>
						<form action="" method="post" th:object="${shippingDTO}">
						<input type="hidden" th:value="${dto.uid}" name="uid"/>
							<input type="hidden" name="schNo" th:value="${dto.order_no}" />
							<select th:field="*{shippingChk}" class="form-select form-select-sm" aria-label=".form-select-sm example">
									<option value="배송중">배송중</option>
									<option value="배송준비중">배송준비중</option>
									<option value="배송완료">배송완료</option>
							</select>
							<input type="submit" value="수정" class="btn btn-outline-primary btn-sm" />
						</form>
					</td>
				</tr>
			</table>
			
			<h3>배송완료 목록</h3>
			<table border="" class="table table-striped">
				<tr>
					<td>주문번호</td>
					<td>구매자ID</td>
					<td>수령인</td>
					<td>수령지</td>
					<td>상품카테고리</td>
					<td>상품명</td>
					<td>상품수량</td>
					<td>상품가격</td>
					<td>구매날짜</td>
					<td>배송상태</td>
					<td>배송상태수정</td>
				</tr>
				<tr th:each="dto:${afterData}">
					<td th:text="${dto.order_no}"></td>
					<td th:text="${dto.order_ID}"></td>
					<td th:text="${dto.order_name}"></td>
					<td th:text="${dto.order_place}"></td>
					<td th:text="${dto.order_cate}"></td>
					<td th:text="${dto.order_product}"></td>
					<td th:text="${dto.order_cnt}"></td>
					<td th:text="${dto.order_price}"></td>
					<td th:text="${dto.order_dateStr}"></td>
					<td th:text="${dto.order_shipping}"></td>
					<td>
						<form action="" method="post" th:object="${shippingDTO}">
						<input type="hidden" th:value="${dto.uid}" name="uid"/>
							<input type="hidden" name="schNo" th:value="${dto.order_no}" />
							<select th:field="*{shippingChk}" class="form-select form-select-sm" aria-label=".form-select-sm example">
									<option value="배송완료">배송완료</option>
									<option value="배송준비중">배송준비중</option>
									<option value="배송중">배송중</option>
									<option value="환불완료">환불완료</option>
							</select>
							<input type="submit" value="수정" class="btn btn-outline-primary btn-sm" />
						</form>
					</td>
				</tr>
			</table>
				
		</th:block>
		<th:block layout:fragment="add-content">
			
		</th:block>
	</div>
</div>
</html>