<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
</head>
<th:block layout:fragment="title">
<style>
*{
	margin: 0;
	padding: 0;
}
.head{
	width: 1200px;
	height: 100px;
	background: #8fa;
}
.head>div{
	float: left;
	width: 150px;
	height: 70px;
	background: #333;
	color: #eee;
	margin: 15px 70px;
	line-height: 70px;
	font-size: 1.2rem;
	text-align: center;
}
</style>
<div class="head">
	<div><a th:href="|/mainPage|" th:text="Fashion.CODE"></a></div>
	<div><a th:href="|/fc/login|" th:text="로그인"></a></div>
	<div>상품</div>
	<div>게시판</div>
</div>	
</th:block>
</html>