<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org/DTD Mapper3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fc.db.BasketMapper">

	<select id="basket_list" resultType="baskDTO" parameterType="mDTO">
	SELECT * FROM basket
	<where>
		id = #{id}
	</where>
</select>


<select id="order_move" resultType="baskDTO" parameterType="baskDTO">
	SELECT * FROM basket
	<where>
		pno = #{pno}
	</where>
</select>

	<delete id="basketDelete"  parameterType="baskDTO">
		delete from basket where id = #{id} and pno = #{pno}
	</delete>
	
<update id="basket_modify" parameterType="baskDTO">
		update basket set cnt = #{cnt}, address = #{address}, size = #{size} , totalPrice = #{price} * #{cnt}
		where id = #{id} and pno = #{pno}
	</update>

<insert id="add_basket" parameterType="baskDTO">
	insert into basket (id , num , price , cnt , totalPrice , size , color , proName ,address)
	values
	(#{id} , #{num} , #{price} , #{cnt} , #{price} * #{cnt} , #{size} , #{color} , #{proName} , #{address})
</insert>

	
</mapper>