<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org/DTD Mapper3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fc.db.MemberMapper">

	<select id="mem" resultType="mDTO" parameterType="mDTO">
	SELECT * FROM member
	<where>
		<trim prefix=" " suffixOverrides="AND | OR">
			<if test="sch != null and kind =='pid'">
				id LIKE CONCAT('%', #{sch}, '%')
			</if>
			<if test="sch != null and kind =='pname'">
				name LIKE CONCAT('%', #{sch}, '%')
			</if>
		</trim>
	</where>
</select>

	<update id="mem_pwModify" parameterType="mDTO">
		update member set pw = #{newPw}
		where id = #{id}
	</update>

	<update id="memDelete"  parameterType="mDTO">
		update member set rank = "회원탈퇴"
		where id = #{id} and pw = #{pw}  
	</update>

	<update id="mem_modify_addr" parameterType="mDTO">
			update member set address1 = #{address1}, addr_detail = #{addr_detail}
			where id = #{id} and pw = #{pw}
	</update>
	
	<update id="mem_modify_pw" parameterType="mDTO">
			update member set address1 = #{address1}, addr_detail = #{addr_detail} , pw = #{newPw}
			where id = #{id} and pw = #{pw}
	</update>

<select id="addetail" resultType="mDTO" parameterType="mDTO">
	SELECT * FROM member 
	<where>
		id = #{id}
	</where>
</select>

<select id="orderlist" resultType="shipDTO" parameterType="mDTO">
	SELECT * FROM shipping
	<where>
		order_ID = #{id}
	</where>
</select>

<select id="basket" resultType="baskDTO" parameterType="mDTO">
	SELECT * FROM basket
	<where>
		id = #{id}
	</where>
</select>

<update id="changerank" parameterType="mDTO">
	update member set rank = #{rank}
	where id = #{id}
</update>

<select id="login" resultType="mDTO" parameterType="mDTO">
	SELECT * FROM member
	<where>
		id = #{id} and pw = #{pw}
	</where>
</select>


<select id="idChk" resultType="boolean" parameterType="mDTO">
	SELECT * FROM member
	<where>
		id = #{id}
	</where>
</select>

<insert id="join" parameterType="mDTO">
	insert into member (id , pw , name , address1 , addr_detail , tell ,birth ,joindate , compulsory_chk , tell_chk , email_chk , nomal_chk)
	values
	(#{id} , #{pw} , #{name} , #{address1}, #{addr_detail},#{tell} ,#{birth} ,sysdate() , #{compulsory_chk} , #{tell_chk} , #{email_chk} , #{nomal_chk})
</insert>

<select id="myPage" resultType="mDTO" parameterType="mDTO">
	SELECT * FROM member
	<where>
		id = #{id}
	</where>
</select>
	
</mapper>