<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fc.db.SalesMapper">

<select id="outerMonth">
	select sal_cnt from sales where sal_cate="아우터" and sal_date like concat('%','2023-',#{ss},'%')
</select>

<select id="shirtMonth">
	select sal_cnt from sales where sal_cate="상의" and sal_date like concat('%','2023-',#{ss},'%')
</select>

<select id="pantsMonth">
	select sal_cnt from sales where sal_cate="하의" and sal_date like concat('%','2023-',#{ss},'%')
</select>

<select id="shoesMonth">
	select sal_cnt from sales where sal_cate="신발" and sal_date like concat('%','2023-',#{ss},'%')
</select>

<select id="outerList" resultType="salDTO" parameterType="salDTO">
	select * from sales
	<where>
		<trim suffix=" " suffixOverrides = "and | or">
			sal_cate="아우터" and
			<if test="schDate!=null">
				sal_date like concat('%','2023-',#{schDate},'%')
			</if>
		</trim>
	</where>
</select>

<select id="shirtList" resultType="salDTO" parameterType="salDTO">
	select * from sales
	<where>
		<trim suffix=" " suffixOverrides = "and | or">
			sal_cate="상의" and
			<if test="schDate!=null">
				sal_date like concat('%','2023-',#{schDate},'%')
			</if>
		</trim>
	</where>
</select>

<select id="pantsList" resultType="salDTO" parameterType="salDTO">
	select * from sales
	<where>
		<trim suffix=" " suffixOverrides = "and | or">
			sal_cate="하의" and
			<if test="schDate!=null">
				sal_date like concat('%','2023-',#{schDate},'%')
			</if>
		</trim>
	</where>
</select>

<select id="shoesList" resultType="salDTO" parameterType="salDTO">
	select * from sales
	<where>
		<trim suffix=" " suffixOverrides = "and | or">
			sal_cate="신발" and
			<if test="schDate!=null">
				sal_date like concat('%','2023-',#{schDate},'%')
			</if>
		</trim>
	</where>
</select>

</mapper>