<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<th:block layout:fragment="title">
<head th:replace="fc_parts/top"></head>
	<title>회원가입</title>
</th:block>

<th:block layout:fragment="content">
<style>
	*{
		margin:0;
		padding:0;
	}
	.join_wrapper{
		width:1200px;
		margin:auto;
	}
	.join_main{
		width:600px;
		height:500px;
		background:#f0f;
		margin:auto;
	}
</style>
<div class="join_wrapper">
<form method="post">
	<div class="join_main">
		id:<input type="text" name="id" /></br>
		pw:<input type="text" name="pw" /></br>
		이름:<input type="text" name="name" /></br>
		기본주소지:<input type="text" name="address1" /></br>
		추가주소지:<input type="text" name="address2" /></br>
		추가주소지:<input type="text" name="address3" /></br>
		추가주소지:<input type="text" name="address4" /></br>
		추가주소지:<input type="text" name="address5" /></br>
		전화번호:<input type="text" name="tell"/></br>
		생일:<input type="date" name="birth"/></br>
		* 생일을 입력하지 않을시 추가 이벤트 혜택을 받으실수 없습니다.</br>
		이메일:<input type="text" name="email"/></br>
		<input type="submit" value="가입하기"/>
	</div>
</form>
</div>
</th:block>

<th:block layout:fragment="main-foot">
<body th:replace="fc_parts/footer::main-foot"></body>
</th:block>
</body>
</html>